<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini Whatsapp</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <h1>All Chats!</h1>

    <form action="/chats/new" method="get">
        <button class="submitBtn" type="submit">New Chat</button>
    </form>

    <% for (let chat of chats) { %>
        <div class="chat">
            <h5 class="sender">from : <%= chat.from %></h5>
            <div class="message">
                <p>message : <%= chat.msg %></p>
                <div style="display: flex; gap:10px; margin-bottom:3px; ">
                    <form method="get" action="/chats/<%= chat._id %>/edit">
                        <button type="submit">Edit</button>
                    </form>
                    <form method="post" action="/chats/<%= chat._id %>?_method=DELETE">
                        <button type="submit">Delete</button>
                    </form>
                </div>
            </div>
            <h5 class="receiver">to : <%= chat.to %>  at: <%= chat.created_at.toString().split(" ")[4] %> Date: <%= chat.created_at.toString().split(" ").slice(0 ,4).join(" ") %> </h5>
        </div>
        <br><br>
    <% } %>

</body>

</html>